In [16]:
print("We are \"DS\"")

We are "DS"

# Operators

Operators are + - * / %

In [17]:
12 / 5

2.4

In [18]:
12 // 5

2

increment / decrement operators

In [23]:
age = 18
age = age + 1

In [24]:
age

19

In [27]:
age*=2
age

152

In [28]:
age/=2
age

76.0

In [29]:
age//=2
age

38.0

In [30]:
14%5

4

In [ ]:
> < <= >= == != return boolean values

In [ ]:
Logical operators: not , and, or

Python Lists

In [31]:
a = []

In [32]:
print(type(a))

<class 'list'>

In [33]:
b = [12, 13.4, True, "Uzaif", [11,4]]

In [35]:
b[2]

True

In [36]:
b[-2]

'Uzaif'

In [37]:
b[-1]

[11, 4]

In [39]:
b[-1][1]

4

In [40]:
a.append("Salman")

In [41]:
a

['Salman']

In [43]:
a.append("Uzaif")
a

['Salman', 'Uzaif']

In [44]:
a.insert(1,"Pencil")

In [45]:
a

['Salman', 'Pencil', 'Uzaif']

In [46]:
a.append(["Nabeeel","Umair"])
a

['Salman', 'Pencil', 'Uzaif', ['Nabeeel', 'Umair']]

In [47]:
a.extend(["Nabeeel","Umair"])
a

['Salman', 'Pencil', 'Uzaif', ['Nabeeel', 'Umair'], 'Nabeeel', 'Umair']

In [54]:
a.index("Salman")

0

In [55]:
del a[2] #delete by index

In [56]:
a

['Salman', 'Pencil', ['Nabeeel', 'Umair'], 'Nabeeel', 'Umair']

In [57]:
a.remove("Nabeeel")

In [58]:
a

['Salman', 'Pencil', ['Nabeeel', 'Umair'], 'Umair']

In [59]:
a.count("Umair")

1

In [60]:
a

['Salman', 'Pencil', ['Nabeeel', 'Umair'], 'Umair']

In [61]:
a.pop()

'Umair'

In [62]:
a

['Salman', 'Pencil', ['Nabeeel', 'Umair']]

In [63]:
a.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [64]:
a.pop()

['Nabeeel', 'Umair']

In [65]:
a.sort()

In [66]:
a

['Pencil', 'Salman']

In [68]:
a.extend(["Uzaif","Nabeel","Umair"])

In [69]:
a

['Pencil', 'Salman', 'Uzaif', 'Nabeel', 'Umair']

In [70]:
sorted(a, reverse=False)

['Nabeel', 'Pencil', 'Salman', 'Umair', 'Uzaif']

In [71]:
sorted(a, reverse=True)

['Uzaif', 'Umair', 'Salman', 'Pencil', 'Nabeel']

In [72]:
a

['Pencil', 'Salman', 'Uzaif', 'Nabeel', 'Umair']

In [73]:
a.sort(reverse=False)

In [74]:
a

['Nabeel', 'Pencil', 'Salman', 'Umair', 'Uzaif']

# Slicing List

In [75]:
l = [2,3,4,5,6]

In [77]:
sliced = l[2:5]

In [78]:
sliced

[4, 5, 6]

In [79]:
newSlice = l[:]

In [80]:
newSlice

[2, 3, 4, 5, 6]

In [81]:
l

[2, 3, 4, 5, 6]

In [82]:
l[-1:-3]

[]

In [83]:
l[-3:]

[4, 5, 6]

In [ ]:
l[-3:]

In [84]:
list2 = [1,2,3,4,5,6,7,8]

In [85]:
list2[0::2]

[1, 3, 5, 7]

In [87]:
list2

[1, 2, 3, 4, 5, 6, 7, 8]

In [88]:
list2[-7:4]

[2, 3, 4]

In [89]:
list2[-7::-1]

[2, 1]