IMPORTING LIBRARIES

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from tensorflow.keras import models
from tensorflow.keras import layers
from tensorflow.keras.utils import to_categorical
import numpy as np

LOADING THE IRIS DATASET

In [ ]:
data = pd.read_csv("sample_data/Iris.csv")
data.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

CHECKING COME DATA DESCRIPTIONS

In [ ]:
data.shape

(150, 6)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
data.drop('Id', axis = 1, inplace=True)

In [ ]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
data.describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

DESCRIPTIVE STATISTICS OF DIFFERENT IRIS SPECIES

In [ ]:
# Descriptive statistics for Iris-setosa
data[data['Species']=='Iris-setosa'].describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count       50.00000     50.000000      50.000000      50.00000
mean         5.00600      3.418000       1.464000       0.24400
std          0.35249      0.381024       0.173511       0.10721
min          4.30000      2.300000       1.000000       0.10000
25%          4.80000      3.125000       1.400000       0.20000
50%          5.00000      3.400000       1.500000       0.20000
75%          5.20000      3.675000       1.575000       0.30000
max          5.80000      4.400000       1.900000       0.60000

In [ ]:
# Descriptive statistics for Iris-versicolor
data[data['Species']=='Iris-versicolor'].describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count      50.000000     50.000000      50.000000     50.000000
mean        5.936000      2.770000       4.260000      1.326000
std         0.516171      0.313798       0.469911      0.197753
min         4.900000      2.000000       3.000000      1.000000
25%         5.600000      2.525000       4.000000      1.200000
50%         5.900000      2.800000       4.350000      1.300000
75%         6.300000      3.000000       4.600000      1.500000
max         7.000000      3.400000       5.100000      1.800000

In [ ]:
# Descriptive statistics for Iris-virginica
data[data['Species']=='Iris-virginica'].describe()

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count       50.00000     50.000000      50.000000      50.00000
mean         6.58800      2.974000       5.552000       2.02600
std          0.63588      0.322497       0.551895       0.27465
min          4.90000      2.200000       4.500000       1.40000
25%          6.22500      2.800000       5.100000       1.80000
50%          6.50000      3.000000       5.550000       2.00000
75%          6.90000      3.175000       5.875000       2.30000
max          7.90000      3.800000       6.900000       2.50000

ENCODING THE CATEGORICAL TARGET FEATURE

In [ ]:
data.groupby('Species').size()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [ ]:
data.replace(to_replace= ['Iris-setosa','Iris-versicolor','Iris-virginica'], value=[0,1,2], inplace=True)

In [ ]:
data.sample(frac=1, replace=True)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
44             5.1           3.8            1.9           0.4        0
145            6.7           3.0            5.2           2.3        2
81             5.5           2.4            3.7           1.0        1
6              4.6           3.4            1.4           0.3        0
27             5.2           3.5            1.5           0.2        0
..             ...           ...            ...           ...      ...
17             5.1           3.5            1.4           0.3        0
129            7.2           3.0            5.8           1.6        2
52             6.9           3.1            4.9           1.5        1
36             5.5           3.5            1.3           0.2        0
57             4.9           2.4            3.3           1.0        1

[150 rows x 5 columns]

MAKING TEST AND TRAIN SETS

In [ ]:
train_size=0.8

X = data.drop(columns = ['Species']).copy()
y = data['Species']

train_data, X_rem, train_labels, y_rem = train_test_split(X, y, train_size=train_size)

test_size = 0.5
valid_data, test_data, valid_labels, test_labels = train_test_split(X_rem, y_rem, test_size=test_size)
train_labels = to_categorical(train_labels)
valid_labels = to_categorical(valid_labels)
test_labels = to_categorical(test_labels)

print('train_data.shape', train_data.shape), print('train_labels.shape', train_labels.shape)
print('valid_data.shape', valid_data.shape), print('valid_labels.shape', valid_labels.shape)
print('test_data.shape', test_data.shape), print('test_labels.shape', test_labels.shape)

train_data.shape (120, 4)
train_labels.shape (120, 3)
valid_data.shape (15, 4)
valid_labels.shape (15, 3)
test_data.shape (15, 4)
test_labels.shape (15, 3)

(None, None)

In [ ]:
#not executed
mean = train_data.mean(axis=0)
train_data -= mean
std = train_data.std(axis=0)
train_data /= std
test_data -= mean
test_data /= std
valid_data -= mean
valid_data /= std

BUILDING MODEL

In [ ]:
def build_model():
     # Because we will need to instantiate
     # the same model multiple time,
     # we use a function to construct it.
    model = models.Sequential()
    model.add(layers.Dense(64, activation='relu', input_shape=(train_data.shape[1],)))
    model.add(layers.Dense(64, activation='relu'))
    model.add(layers.Dense(3, activation='softmax'))
    model.compile(optimizer='rmsprop', loss='categorical_crossentropy', metrics=['accuracy'])
    return model

APPLYING CROSS VALIDATION IN TRAINING

In [ ]:
import numpy as np
k = 4
num_val_samples = len(train_data) // k
num_epochs = 100
all_scores = []
val_mae = ''
for i in range(k):
    print('processing fold #', i)
    # Prepare the validation data: data from partition # k
    val_data = valid_data
    val_targets = valid_labels
    # Prepare the training data: data from all other partitions
    partial_train_data = np.concatenate(
    [train_data[:i * num_val_samples],
    train_data[(i + 1) * num_val_samples:]],
    axis=0)
    partial_train_targets = np.concatenate(
    [train_labels[:i * num_val_samples],
    train_labels[(i + 1) * num_val_samples:]],
    axis=0)
    # Build the Keras model (already compiled)
    model = build_model()
    # Train the model (in silent mode, verbose=0)
    model.fit(partial_train_data, partial_train_targets, epochs=num_epochs, batch_size=1, verbose=0)
    # Evaluate the model on the validation data
    val_mse, val_mae = model.evaluate(val_data, val_targets, verbose=0)
    all_scores.append(val_mae)

processing fold # 0
processing fold # 1
processing fold # 2
processing fold # 3

TRAINING EVALUATIONS

In [ ]:
all_scores

[0.8666666746139526,
 0.8666666746139526,
 0.9333333373069763,
 0.8666666746139526]

In [ ]:
 np.mean(all_scores)

0.8833333402872086

EVALUATING TEST SETS

In [ ]:
model.evaluate(test_data,test_labels)

1/1 [==============================] - 0s 16ms/step - loss: 0.3623 - accuracy: 0.8667

[0.36230215430259705, 0.8666666746139526]