# While Loop

In [1]:
a =0
while (a<10):
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [2]:
x =0
while (x<10):
    x+=1
    print(x)

1
2
3
4
5
6
7
8
9
10

In [3]:
fav_dishes = []
flag = True
while(flag):
    fav_dish = input("Enter Your Favourite Dishes: (Enter Quit to Exit)")
    fav_dishes.append(fav_dish)
    if (fav_dish == "quit"):
        flag = False
fav_dishes

Enter Your Favourite Dishes: (Enter Quit to Exit)Biryani
Enter Your Favourite Dishes: (Enter Quit to Exit)Karhai
Enter Your Favourite Dishes: (Enter Quit to Exit)Nihari
Enter Your Favourite Dishes: (Enter Quit to Exit)Paaya
Enter Your Favourite Dishes: (Enter Quit to Exit)Pizza
Enter Your Favourite Dishes: (Enter Quit to Exit)Zinger Burger
Enter Your Favourite Dishes: (Enter Quit to Exit)Chipotle
Enter Your Favourite Dishes: (Enter Quit to Exit)quit

['Biryani',
 'Karhai',
 'Nihari',
 'Paaya',
 'Pizza',
 'Zinger Burger',
 'Chipotle',
 'quit']

In the above program, we are having an additional unnecessary value i.e. Quit (which isn't a dish). So for getting rid of this problem, lets design another precise code with amendments

In [4]:
fav_dishes2 = []
flag2 = True
while(flag2):
    fav_dish2=input("Enter Your Favourite Dishes: (Enter Quit to Exit) ")
    if (fav_dish2 == "quit"):
        flag2 = False
    else:
        fav_dishes2.append(fav_dish2)
print(fav_dishes2)

Enter Your Favourite Dishes: (Enter Quit to Exit) Biryani
Enter Your Favourite Dishes: (Enter Quit to Exit) Karhai
Enter Your Favourite Dishes: (Enter Quit to Exit) Nihari
Enter Your Favourite Dishes: (Enter Quit to Exit) Zinger Burger
Enter Your Favourite Dishes: (Enter Quit to Exit) Pizza
Enter Your Favourite Dishes: (Enter Quit to Exit) Chipotle
Enter Your Favourite Dishes: (Enter Quit to Exit) quit
['Biryani', 'Karhai', 'Nihari', 'Zinger Burger', 'Pizza', 'Chipotle']

# Sets

In [5]:
aset = {12,13,14,15,12,13,12}
aset

{12, 13, 14, 15}

In [6]:
bset = aset.copy()
bset

{12, 13, 14, 15}

In [7]:
aset.pop()

12

In [8]:
aset

{13, 14, 15}

In [9]:
bset.update("12")

In [10]:
bset

{'1', 12, 13, 14, 15, '2'}

In [11]:
str_set = {"Salman", "Abdullah", "Yousuf", "Haris"}
str_set

{'Abdullah', 'Haris', 'Salman', 'Yousuf'}

In [12]:
str_set.pop()

'Abdullah'

In [13]:
str_set

{'Haris', 'Salman', 'Yousuf'}

In [14]:
str_set.add("Uzaif")

In [15]:
str_set

{'Haris', 'Salman', 'Uzaif', 'Yousuf'}

In [16]:
str_set.add(12)
str_set

{12, 'Haris', 'Salman', 'Uzaif', 'Yousuf'}

In [17]:
union_set = str_set.union(aset)
union_set

{12, 13, 14, 15, 'Haris', 'Salman', 'Uzaif', 'Yousuf'}

In [18]:
str_set

{12, 'Haris', 'Salman', 'Uzaif', 'Yousuf'}

In [19]:
str_set.remove(12)

In [20]:
str_set

{'Haris', 'Salman', 'Uzaif', 'Yousuf'}

# Tuples

In [21]:
a_tuple = (12,14,16,10)
a_tuple

(12, 14, 16, 10)

In [22]:
a_tuple.count(16)

1

In [23]:
a_tuple.index(10)

3

In [24]:
list_by_tuple = list(a_tuple)
list_by_tuple

[12, 14, 16, 10]

In [25]:
list_by_tuple.append(20)

In [26]:
b_tuple = tuple(list_by_tuple)

In [27]:
print(a_tuple,"\n",b_tuple)

(12, 14, 16, 10)
 (12, 14, 16, 10, 20)