# Python Functions

In [1]:
#Example
import math #it is a module that contains many methods

Functions if made in class, they are called as methods. Other names for functions are "routine", "calls", etc.

In [3]:
#Example01
#Function Definition
def call():
    name = input("Enter your name: ")
    print(f"Get out {name}")

In [4]:
#Function call
call()

Enter your name: Salman
Get out Salman

In [13]:
#Example01
#Function Definition
def call_name():
    name = input("Enter your name: ")
    gender = input("Enter your gender (Male/Female): ").lower()
    if gender=="male":
        print(f" Hi Mr. {name}")
    else:
        print(f" Hi Mrs. {name}")

In [14]:
call_name()

Enter your name: Salman
Enter your gender (Male/Female): Male
 Hi Mr. Salman

In [15]:
call_name()

Enter your name: Nafeesa
Enter your gender (Male/Female): Female
 Hi Mrs. Nafeesa

In [16]:
#Example02
#Even Odd by Function

def check():
    a = int(input("Enter Number: "))
    if a%2==0:
        print("Number is Even")
    else:
        print("Number is odd")

In [17]:
check()

Enter Number: 3
Number is odd

In [18]:
check()

Enter Number: 12
Number is Even

In [26]:
#Example03
#Even Odd by Looped Function
def looped_even_odd():
    while(True):
        a = (input("Enter Number or quit to exit: "))
        if a != "quit":
            if int(a)%2==0:
                print("Number is Even")
            else:
                print("Number is Odd")
        else:
            break

In [27]:
looped_even_odd()

Enter Number or quit to exit: 12
Number is Even
Enter Number or quit to exit: 11
Number is odd
Enter Number or quit to exit: 81
Number is odd
Enter Number or quit to exit: 33
Number is odd
Enter Number or quit to exit: quit

In [29]:
#Practice01
#Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5,
#between 2000 and 3200 (both included).
#The numbers obtained should be printed in a comma-separated sequence on a single line.

list1 = []
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        list1.append(i)
    
list1

[2002,
 2009,
 2016,
 2023,
 2037,
 2044,
 2051,
 2058,
 2072,
 2079,
 2086,
 2093,
 2107,
 2114,
 2121,
 2128,
 2142,
 2149,
 2156,
 2163,
 2177,
 2184,
 2191,
 2198,
 2212,
 2219,
 2226,
 2233,
 2247,
 2254,
 2261,
 2268,
 2282,
 2289,
 2296,
 2303,
 2317,
 2324,
 2331,
 2338,
 2352,
 2359,
 2366,
 2373,
 2387,
 2394,
 2401,
 2408,
 2422,
 2429,
 2436,
 2443,
 2457,
 2464,
 2471,
 2478,
 2492,
 2499,
 2506,
 2513,
 2527,
 2534,
 2541,
 2548,
 2562,
 2569,
 2576,
 2583,
 2597,
 2604,
 2611,
 2618,
 2632,
 2639,
 2646,
 2653,
 2667,
 2674,
 2681,
 2688,
 2702,
 2709,
 2716,
 2723,
 2737,
 2744,
 2751,
 2758,
 2772,
 2779,
 2786,
 2793,
 2807,
 2814,
 2821,
 2828,
 2842,
 2849,
 2856,
 2863,
 2877,
 2884,
 2891,
 2898,
 2912,
 2919,
 2926,
 2933,
 2947,
 2954,
 2961,
 2968,
 2982,
 2989,
 2996,
 3003,
 3017,
 3024,
 3031,
 3038,
 3052,
 3059,
 3066,
 3073,
 3087,
 3094,
 3101,
 3108,
 3122,
 3129,
 3136,
 3143,
 3157,
 3164,
 3171,
 3178,
 3192,
 3199]

In [43]:
#Practice02
#Write a program which can compute the factorial of a given numbers.
#The results should be printed in a comma-separated sequence on a single line.
#Suppose the following input is supplied to the program
x = 1 
n = int(input("Enter a number for factorial: "))
for i in range(n,1,-1):
    x*=i
print(x)

Enter a number for factorial: 6
720

In [44]:
#Practice03
#With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.
#Suppose the following input is supplied to the program:
dic = {}
n = int(input("Enter number of squares: "))
for i in range(1,n+1):
    dic[i]=i*i

dic

Enter number of squares: 3

{1: 1, 2: 4, 3: 9}

In [59]:
#Global Mastee
num1= 100

def funct():
    
    global num1
    
    print(num1);

    num1 = 10
    
    print(num1)
    
funct()

100
10