# Class in Python

In [1]:
#Example01
class Dog():
    #Charactersctics/Attributes/Properties === Variables
    name = "Tommy"
    age = 5
    breed = "German"
    color = "brown"
    #Behaviours/Action === Functions/Methods
    def bark():
        pass
    def walk():
        pass
    def rollover():
        pass
    def bite():
        pass

Now we will make an object of this Dog

In [3]:
dog1 = Dog()

In [4]:
dog1.name

'Tommy'

In [5]:
dog1.breed

'German'

In [6]:
dog1.age

5

In [7]:
dog1.color

'brown'

In [68]:
# Example02
class Dog():
    def __init__(self, name, age, breed, color): #Initializer (it restricts the object to have these attributes at any condition)
        self.dog_name = name
        self.dog_age = age
        self.dog_breed = breed
        self.dog_color = color
        print("Object Created")
        
    #Behaviours/Action === Functions/Methods
    def bark(self):
        print(f"{self.dog_name} is barking")
        pass
    def walk():
        pass
    def rollover():
        pass
    def bite():
        pass

In [69]:
# Trying Not To Pass A Value With CLass Object
try:
    dog2 = Dog()
except TypeError:
    print("Please Enter the Missing Values of Positional Arguments")

Please Enter the Missing Values of Positional Arguments

In [70]:
dog2 = Dog("Harry","2","Dalmatian","Black&White")
dog3 = Dog("Rambo","1","Street","White")

Object Created
Object Created

In [71]:
dog2.dog_name

'Harry'

In [72]:
dog2.dog_age

'2'

In [73]:
dog2.dog_breed

'Dalmatian'

In [74]:
dog2.dog_color

'Black&White'

In [75]:
dog3.dog_name

'Rambo'

In [76]:
dog3.dog_age

'1'

In [77]:
dog3.dog_breed

'Street'

In [78]:
dog3.dog_color

'White'

In [79]:
a = dog3.dog_color #CHecking whether the return value saves in a variable

In [80]:
a

'White'

In [81]:
dog2.bark()

Harry is barking

In [82]:
Dog.bark(dog2)

Harry is barking

In [83]:
Dog.bark(dog3)

Rambo is barking

In [156]:
# Example03
class Human():
    status = "Single"
    def __init__(self,name,age,gender,height):
        self.name = name
        self.age = age
        self.gender = gender
        self.height = height
        print("New Human Object Created")
        
    def walk(self):
        print(f"{self.name} walks very fast")
    
    def play(self):
        new_age = self.age + 3
        print("New age of ",self.name," is ",new_age)

In [157]:
h1 = Human("Salman",18,"Male",160)
h2 = Human("Uzaif",20,"Male",169)
h3 = Human("Iqra",15,"Female",156)

New Human Object Created
New Human Object Created
New Human Object Created

In [158]:
h1.name

'Salman'

In [159]:
h2.name

'Uzaif'

In [160]:
h3.name

'Iqra'

In [161]:
h1.age

18

In [162]:
h2.age

20

In [163]:
h3.age

15

In [164]:
h1.gender

'Male'

In [165]:
h2.gender

'Male'

In [166]:
h3.gender

'Female'

In [167]:
h1.height

160

In [168]:
h2.height

169

In [169]:
h3.height

156

In [170]:
h2.walk()

Uzaif walks very fast

In [171]:
h3.walk()

Iqra walks very fast

In [172]:
h3.play()

New age of  Iqra  is  18

In [173]:
h3.age

15

In [174]:
Human.play(h1)

New age of  Salman  is  21

In [175]:
h1.status

'Single'

In [176]:
h2.status

'Single'

In [177]:
h3.status

'Single'

In [181]:
# Example04
class Student():
    def __init__(self,name,roll,semester,course):
        self.name = name
        self.roll = roll
        self.semester = semester
        self.course = course
        print("New Student Object Created")
        
    def how_study(self):
        print(f"{self.name} is a brilliant student")
    
    def exams(self):
        print(self.name, "got good marks in exams. He is ",self.age, " years old")

In [182]:
# Example05
class Employee():
    def __init__(obj,name,depart,salary):
        obj.name = name
        obj.depart = depart
        obj.salary = salary
        print("Employee Object has been created")
    
    def perform(obj):
        print(f"{obj.name} is a good employee")
    
    def work(obj):
        print(obj.name," works in ",obj.depart," department, and has a monthly salary of Rs:",obj.salary)