# HYPOTHESIS testing

In [1]:
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv("data_salary.csv")

In [3]:
data1

      Salary
0   117313.0
1   104002.0
2   113038.0
3   101936.0
4    84560.0
5   113136.0
6    80740.0
7   100536.0
8   105052.0
9    87201.0
10   91986.0
11   94868.0
12   90745.0
13  102848.0
14   85927.0
15  112276.0
16  108637.0
17   96818.0
18   92307.0
19  114564.0
20  109714.0
21  108833.0
22  115295.0
23   89279.0
24   81720.0
25   89344.0
26  114426.0
27   90410.0
28   95118.0
29  113382.0

In [4]:
pop_std = 15000

In [6]:
mean_data =  data1.mean()
mean_data

Salary    100200.366667
dtype: float64

In [8]:
sample = len(data1)
sample

30

In [9]:
std_err = pop_std / (sample ** 0.5)
std_err

2738.6127875258308

In [10]:
mue = 113000

- ConfidenceInterval = 95%
- Alpha = 5% == 0.05
- Alpha / 2 = 0.025
- z = 1 - Alpha = 0.975

- z = 1.96

In [11]:
z = 1.96
Z = (mean_data - mue) / (std_err)
Z

Salary   -4.673765
dtype: float64

In [12]:
Z = Z[0]

In [13]:
if abs(Z) != z:
    print("Hypothesis is Rejected!!")

Hypothesis is Rejected!!

In [14]:
def hyp_test(data):
    xmue = int(input("Enter Hypothesis Value: "))
    mean_data =  data.mean()
    sample = len(data)
    pop_std = 15000
    std_err = pop_std / (sample ** 0.5)
    z = 2.58
    Z = (mean_data - mue) / (std_err)
    Z = Z[0]
    if abs(Z) != z:
        print("Hypothesis is Rejected!!")
    else:
        print("Hypothesis is Accepted")

In [15]:
# x = int(input("Enter Hypothesis Value: "))

In [17]:
hyp_test(data1)

Enter Hypothesis Value: 100200
Hypothesis is Rejected!!