# While Loop

In [1]:
a =0
while (a<10):
    print(a)
    a+=1

0
1
2
3
4
5
6
7
8
9

In [2]:
x =0
while (x<10):
    x+=1
    print(x)

1
2
3
4
5
6
7
8
9
10

In [3]:
fav_dishes = []
flag = True
while(flag):
    fav_dish = input("Enter Your Favourite Dishes: (Enter Quit to Exit)")
    fav_dishes.append(fav_dish)
    if (fav_dish == "quit"):
        flag = False
fav_dishes

Enter Your Favourite Dishes: (Enter Quit to Exit)Biryani
Enter Your Favourite Dishes: (Enter Quit to Exit)Karhai
Enter Your Favourite Dishes: (Enter Quit to Exit)Nihari
Enter Your Favourite Dishes: (Enter Quit to Exit)Paaya
Enter Your Favourite Dishes: (Enter Quit to Exit)Pizza
Enter Your Favourite Dishes: (Enter Quit to Exit)Zinger Burger
Enter Your Favourite Dishes: (Enter Quit to Exit)Chipotle
Enter Your Favourite Dishes: (Enter Quit to Exit)quit

['Biryani',
 'Karhai',
 'Nihari',
 'Paaya',
 'Pizza',
 'Zinger Burger',
 'Chipotle',
 'quit']

In the above program, we are having an additional unnecessary value i.e. Quit (which isn't a dish). So for getting rid of this problem, lets design another precise code with amendments

In [4]:
fav_dishes2 = []
flag2 = True
while(flag2):
    fav_dish2=input("Enter Your Favourite Dishes: (Enter Quit to Exit) ")
    if (fav_dish2 == "quit"):
        flag2 = False
    else:
        fav_dishes2.append(fav_dish2)
print(fav_dishes2)

Enter Your Favourite Dishes: (Enter Quit to Exit) Biryani
Enter Your Favourite Dishes: (Enter Quit to Exit) Karhai
Enter Your Favourite Dishes: (Enter Quit to Exit) Nihari
Enter Your Favourite Dishes: (Enter Quit to Exit) Zinger Burger
Enter Your Favourite Dishes: (Enter Quit to Exit) Pizza
Enter Your Favourite Dishes: (Enter Quit to Exit) Chipotle
Enter Your Favourite Dishes: (Enter Quit to Exit) quit
['Biryani', 'Karhai', 'Nihari', 'Zinger Burger', 'Pizza', 'Chipotle']

# Sets

In [5]:
aset = {12,13,14,15,12,13,12}
aset

{12, 13, 14, 15}

In [6]:
bset = aset.copy()
bset

{12, 13, 14, 15}

In [7]:
aset.pop()

12

In [8]:
aset

{13, 14, 15}

In [9]:
bset.update("12")

In [10]:
bset

{'1', 12, 13, 14, 15, '2'}

In [11]:
str_set = {"Salman", "Abdullah", "Yousuf", "Haris"}
str_set

{'Abdullah', 'Haris', 'Salman', 'Yousuf'}

In [12]:
str_set.pop()

'Abdullah'

In [13]:
str_set

{'Haris', 'Salman', 'Yousuf'}

In [14]:
str_set.add("Uzaif")

In [15]:
str_set

{'Haris', 'Salman', 'Uzaif', 'Yousuf'}

In [16]:
str_set.add(12)
str_set

{12, 'Haris', 'Salman', 'Uzaif', 'Yousuf'}

In [17]:
union_set = str_set.union(aset)
union_set

{12, 13, 14, 15, 'Haris', 'Salman', 'Uzaif', 'Yousuf'}

In [18]:
str_set

{12, 'Haris', 'Salman', 'Uzaif', 'Yousuf'}

In [19]:
str_set.remove(12)

In [20]:
str_set

{'Haris', 'Salman', 'Uzaif', 'Yousuf'}

# Tuples

In [21]:
a_tuple = (12,14,16,10)
a_tuple

(12, 14, 16, 10)

In [22]:
a_tuple.count(16)

1

In [23]:
a_tuple.index(10)

3

In [24]:
list_by_tuple = list(a_tuple)
list_by_tuple

[12, 14, 16, 10]

In [25]:
list_by_tuple.append(20)

In [26]:
b_tuple = tuple(list_by_tuple)

In [27]:
print(a_tuple,"\n",b_tuple)

(12, 14, 16, 10)
 (12, 14, 16, 10, 20)

# Dictionary

In [1]:
dict1 = {}

In [2]:
type(dict1)

dict

In [3]:
dict2  = {1:"Salman",2:"Uzaif"}

In [4]:
dict2

{1: 'Salman', 2: 'Uzaif'}

In [5]:
dict2.keys()

dict_keys([1, 2])

In [7]:
dict2.values()

dict_values(['Salman', 'Uzaif'])

In [8]:
dict2.items()

dict_items([(1, 'Salman'), (2, 'Uzaif')])

# List Comprehension

In [9]:
even = []
odd = []
for num in range(30):
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)
print(even)
print(odd)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [10]:
numbers = [num+num*0.2 for num in range(30)]
numbers

[0.0,
 1.2,
 2.4,
 3.6,
 4.8,
 6.0,
 7.2,
 8.4,
 9.6,
 10.8,
 12.0,
 13.2,
 14.4,
 15.6,
 16.8,
 18.0,
 19.2,
 20.4,
 21.6,
 22.8,
 24.0,
 25.2,
 26.4,
 27.6,
 28.8,
 30.0,
 31.2,
 32.4,
 33.6,
 34.8]

In [11]:
numbers = [num+num*0.2 for num in [23,10,25,20,19] if num<25]
numbers

[27.6, 12.0, 24.0, 22.8]

In [12]:
numbers = [num+num*0.2 if num<23 else "Do more Hardwork" for num in [23,10,25,20,19]]
numbers

['Do more Hardwork', 12.0, 'Do more Hardwork', 24.0, 22.8]