Total Exercise Questions = 13

In [1]:
#Exercise 4.1
pizza = ["Afghani Boti","Malai Boti","Fajita"]
for fav_piz in pizza:
    print(fav_piz,"Pizza")

Afghani Boti Pizza
Malai Boti Pizza
Fajita Pizza

In [2]:
for fav_piz in pizza:
    print("One of my favorite is the",fav_piz,"Pizza")

One of my favorite is the Afghani Boti Pizza
One of my favorite is the Malai Boti Pizza
One of my favorite is the Fajita Pizza

In [3]:
for fav_piz in pizza:
    print("One of my favorite is the",fav_piz,"Pizza")
print("\n Obviously, the dish that anyone can adore is the one and the only Pizza!\n Regardless of being a foriegn dish, pizza is one of the best eateries that I prefer to have when my hunger is at peak! ")

One of my favorite is the Afghani Boti Pizza
One of my favorite is the Malai Boti Pizza
One of my favorite is the Fajita Pizza

 Obviously, the dish that anyone can adore is the one and the only Pizza!
 Regardless of being a foriegn dish, pizza is one of the best eateries that I prefer to have when my hunger is at peak!

In [4]:
#Exercie 4.2
animals = ["Cat","Puppy","Kitten"]
for animal in animals:
    print(animal)

Cat
Puppy
Kitten

In [5]:
for animal in animals:
    print(animal,"is a good pet to have")

Cat is a good pet to have
Puppy is a good pet to have
Kitten is a good pet to have

In [6]:
for animal in animals:
    print(animal,"is a good pet to have")
print("\nAll of these animals are cute")

Cat is a good pet to have
Puppy is a good pet to have
Kitten is a good pet to have

All of these animals are cute

In [7]:
#Exercise 4.3
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [8]:
#Exercise 4.4
list1 = [val for val in range(1,101)]
for value in list1:
    print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [9]:
#Exercise 4.5
list2 = [val for val in range(1,101)]

In [11]:
min(list2)

1

In [12]:
max(list2)

100

In [13]:
sum(list2)

5050

In [17]:
#Exercise 4.6
odd_list = [num for num in range(1,21,2)]
for i in odd_list:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [18]:
#Exercise 4.7
three_mul = [x*3 for x in range(1,11)]
for i in three_mul:
    print(i)

3
6
9
12
15
18
21
24
27
30

In [19]:
#Exercise 4.8 & 4.9
cubes = [x**3 for x in range(1,11)]
for i in cubes:
    print(i)

1
8
27
64
125
216
343
512
729
1000

In [21]:
#Exercise 4.10
#Program from 4.6
print("The first three items in the odd_list are: ",odd_list[0:3])

The first three items in the odd_list are:  [1, 3, 5]

In [23]:
print("The three items form middle of the odd_list are: ",odd_list[4:7])

The three items form middle of the odd_list are:  [9, 11, 13]

In [28]:
print("The last three items in the odd_list are: ",odd_list[-3:10])

The last three items in the odd_list are:  [15, 17, 19]

In [29]:
#Exercise 4.11
pizza = ["Afghani Boti","Malai Boti","Fajita"]
friend_pizza = pizza.copy()

In [30]:
pizza.append("Beef Blast")

In [31]:
friend_pizza.append("Cheesy Cheese")

In [35]:
print("My favourite pizzas are: \n")
for i in pizza:
    print("-",i)

My favourite pizzas are:

- Afghani Boti
- Malai Boti
- Fajita
- Beef Blast

In [36]:
print("My friend's favourite pizzas are: \n")
for x in friend_pizza:
    print("-",x)

My friend's favourite pizzas are:

- Afghani Boti
- Malai Boti
- Fajita
- Cheesy Cheese

In [37]:
#Exercise 4.12
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
print("My favorite foods are:")
for i in my_foods:
    print(i)
print("\nMy friend's favorite foods are:")
for x in friend_foods:
    print(x)

My favorite foods are:
pizza
falafel
carrot cake

My friend's favorite foods are:
pizza
falafel
carrot cake

In [39]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]
my_foods.append('cannoli')
friend_foods.append('ice cream')
print("My favorite foods are:")
for i in my_foods:
    print(i)
print("\nMy friend's favorite foods are:")
for x in friend_foods:
    print(x)

My favorite foods are:
pizza
falafel
carrot cake
cannoli

My friend's favorite foods are:
pizza
falafel
carrot cake
ice cream

In [41]:
#Exercise 4.13
buffet = ("Karhai","Paya","Fish Fry","Biryani")
for i in buffet:
    print(i)

Karhai
Paya
Fish Fry
Biryani

In [42]:
buffet[1] = "Kunna"

TypeError: 'tuple' object does not support item assignment

In [43]:
revised_buff = ("Karhai","Kunna","Roasted Steak","Biryani")
for x in revised_buff:
    print(x)

Karhai
Kunna
Roasted Steak
Biryani